.text-clrs-navy {
	color: $clrs-navy;
}

.text-clrs-blue {
	color: $clrs-blue;
}

.text-clrs-aqua {
	color: $clrs-aqua;
}

.text-clrs-teal {
	color: $clrs-teal;
}

.text-clrs-olive {
	color: $clrs-olive;
}

.text-clrs-green {
	color: $clrs-green;
}

.text-clrs-lime {
	color: $clrs-lime;
}

.text-clrs-yellow {
	color: $clrs-yellow;
}

.text-clrs-orange {
	color: $clrs-orange;
}

.text-clrs-red {
	color: $clrs-red;
}

.text-clrs-fuchsia {
	color: $clrs-fuchsia;
}

.text-clrs-purple {
	color: $clrs-purple;
}

.text-clrs-maroon {
	color: $clrs-maroon;
}

.text-clrs-white {
	color: $clrs-white;
}

.text-clrs-gray {
	color: $clrs-gray;
}

.text-clrs-silver {
	color: $clrs-silver;
}

.text-clrs-black {
	color: $clrs-black;
}

