// $primary-color: #2e5bec;
// $dark-color: #3e396b;

$primary-color: #ff6400;
// $secondary-color: #3082bf;
// $secondary-color-dark: darken($secondary-color, 3%);
// $secondary-color-light: lighten($secondary-color, 50%);

// $gray-color-dark: darken($gray-color, 30%);


$clrs-navy: #001f3f;
$clrs-blue: #0074d9;
$clrs-aqua: #7fdbff;
$clrs-teal: #39cccc;
$clrs-olive: #3d9970;
$clrs-green: #2ecc40;
$clrs-lime: #01ff70;
$clrs-yellow: #ffdc00;
$clrs-orange: #ff851b;
$clrs-red: #ff4136;
$clrs-fuchsia: #f012be;
$clrs-purple: #b10dc9;
$clrs-maroon: #85144b;
$clrs-white: #ffffff;
$clrs-gray: #aaaaaa;
$clrs-grey: $clrs-gray;
$clrs-silver: #dddddd;
$clrs-black: #111111;
