.footer {
	background-color: $dark-color;
	color: darken($gray-color-light, 15%);
	padding: 2.4rem 0;
	// border-bottom: 1px solid $gray-color;

	p {
		font-size: .7rem;
	}

	.love {
		.feather {
			vertical-align: -15%;
			stroke-width: 0;
			fill: $clrs-red;
		}
	}
}
