.hero {
	// text-align: center;

	.hero-body {
		> h1 {
			color: $primary-color;
		}

		> p {
			color: $gray-color-dark;
		}
	}
}

.container-hero-image {
	overflow: hidden;
	.img-responsive {
		margin-bottom: -15px;
	}
}
