.toast-hint {
	@include toast-variant($highlight-color);
	color: $dark-color;

	.feather {
		float: left;
		margin-right: .8rem;
		margin-bottom: .8rem;
		vertical-align: -30%;
	}
}

.toast-info {
	@include toast-variant(mix($clrs-aqua, #fff, 15%));
	color: $dark-color;
}
