
@import "partials/colours";

$layout-spacing: 1rem;

@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/off-canvas";

@import "partials/clrs";
@import "partials/header";
@import "partials/footer";
@import "partials/hero";
@import "partials/sections";
@import "partials/testimonials";
@import "partials/features";
@import "partials/block";
@import "partials/chips";
@import "partials/breadcrumbs";
@import "partials/topics";
@import "partials/buttons";
@import "partials/cards";
@import "partials/toasts";
@import "partials/nav";
@import "partials/deflist";
@import "partials/pages";
@import "partials/labels";
